restactivity/target/classes/restactivity.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8080" doc:name="HTTP Listener Configuration" basePath="/mysamplesREST"/>
    <http:request-config name="HTTP_Request_Configuration" host="www.thomas-bayer.com" port="80" basePath="/sqlrest/CUSTOMER" doc:name="HTTP Request Configuration"/>
    <flow name="restactivityFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="no" value="#[message.inboundProperties.'http.query.params'.no]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{no}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="no" value="#[flowVars.no]"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
